# Default owners

- @András Varga @MaloschikErik

# Backend

/api/ @András Varga
/application/ @András Varga
/domain/ @András Varga
/persistence/ @András Varga

# Frontend

/client/ @MaloschikErik

# Desktop

/desktop/ @MaloschikErik
